.list {
    padding: 0;
}

.list li {
    display: flex;
    border-bottom: 1px solid aliceblue;
}

.list li span {
    flex: 1;
    cursor: pointer;
}

.list li span.compledted {
    text-decoration: line-through;
}