@font-face {
    font-family: 'HancomMalangMalang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HancomMalangMalang-Regular', sans-serif;
}

body {
    background-color: aliceblue;
    padding: 0 20px;
}

.app {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    border-radius: 20px;
}

h1 {
    font-size: 20px;
    margin-bottom: 16px;
}

.input-wrap {
    display: flex;
    gap: 10px;
}

.input-wrap input {
    flex: 1;
    border: 1px solid lightgray;
    padding: 10px 12px;
    border-radius: 5px;
}

.input-wrap button {
    border-radius: 5px;
    border: none;
    padding: 10px 14px;
    background-color: black;
    color: white;
    font-size: 16px;
}

.input-wrap button[disabled] {
    opacity: .6;
    cursor: not-allowed;
}